### HTML5 ###
# Template for HTML5 projects

## Derived B.S.
.DS_Store

## Dump Folder
_dump/

## Special Files
*.sublime-build

## Tests
*-test-[0-9].*

## Stashes
**/*-{stash-[0-9]}.*
**/*-{stash-[0-9]}

## Docs
CHANGECONTROL.md
build/readme
readme.sh
docs/uml

## SCSS
style/scss
style/bootstrap

## Media
*.mov

## Extras
!docs/JSDoc/index.html
