@import 'bootstrap/bootstrap.scss';

////    STYLING    /////////////////////////////////////////

*,
*::before,
*::after
{
    box-sizing: border-box;
}

#fork-me
{
    position: absolute;
    top: 0;
    right: 0;

    width: 135px;
    height: 135px;

    z-index: 100;
}

nav
{
    @extend .navbar, .navbar-expand-sm, .bg-light;

    top: -1px;

    border-top:    1px solid #ccc;
    border-bottom: 1px solid #ccc;

    margin-bottom: 12px;

    &.no-bottom
    {
        margin-bottom: 0;
    }

    div
    {
        @extend .container-fluid;

        img
        {
            position: relative;
            left: 5px;
        }

        button
        {
            @extend .navbar-toggler;

            span
            {
                @extend .navbar-toggler-icon;
            }
        }

        div#navbarSupportedContent
        {
            @extend .collapse, .navbar-collapse;

            ul
            {
                @extend .me-auto, .mb-2, .mb-lg-0;

                li
                {
                    @extend .nav-item;

                    a:after
                    {
                        vertical-align: 0.155em;
                    }
                }
            }
        }
    }

    #website
    {
        width: 80px;
        margin-left: 0;
        margin-right: auto;

        img
        {
            width: 40px;
            left: 0;
        }
    }

    #funding
    {
        width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: 0;

        a
        {
            text-decoration: none;

            &:nth-child(2)
            {
                padding-left: 20px;
            }

            &:nth-child(3)
            {
                padding-left: 15px;
            }
        }
    }
}

main
{
    @extend .container-fluid;

    div.row
    {
        @extend .align-items-start;

        div.col-3
        {
            @extend .align-self-center;

            div.activation
            {
                padding-top:    30px;
                padding-bottom: 30px;

                div:nth-child(1)
                {
                    .letter
                    {
                        position: relative;
                        display: inline-block;
                        top: 1px;
                    }
                }

                div:nth-child(2)
                {
                    position: relative;
                    display: block;
                    padding-top: 8px;
                    left: -12px;
                }
            }

            div.blurb
            {
                text-align: justify;
            }
        }
    }
}

div#logo
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    // min-height: 100vh;
    padding: 20px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .block-effect
    {
        font-size: calc(8px + 6vw);
    }

    .block-reveal
    {
        --t: calc(var(--td) + var(--d));

        color: transparent;
        padding: 4px;

        position: relative;
        overflow: hidden;

        animation: revealBlock 0s var(--t) forwards;
    }

    .block-reveal::after
    {
        content: '';

        width: 0%;
        height: 100%;
        padding-bottom: 4px;

        position: absolute;
        top: 0;
        left: 0;

        background: var(--bc);
        animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
    }
}

pre
{
    border: 1px solid #ccc;

    height: 83vh;

    overflow: auto;

    code
    {
        line-height: 13px;

        padding: 0 !important;

        text-align: initial;

        font-size: 0.55rem;

        border: 1px solid black;
    }
}

/* animations */
@keyframes revealBlock
{
    100% { color: #0f0f0f; }
}

@keyframes revealingIn
{
    0%   { width:    0; }

    100% { width: 100%; }
}

@keyframes revealingOut
{
    0%   { transform: translateX(0);    }

    100% { transform: translateX(100%); }
}
